<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tju.scs.TinyNetBackend.mapper.Internal_gas_turbineMapper" >
  <resultMap id="BaseResultMap" type="edu.tju.scs.TinyNetBackend.model.po.Internal_gas_turbine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="ratedCapacity" property="ratedCapacity" jdbcType="DOUBLE" />
    <result column="minimumLoadRate" property="minimumLoadRate" jdbcType="DOUBLE" />
    <result column="water" property="water" jdbcType="DOUBLE" />
    <result column="smoke" property="smoke" jdbcType="DOUBLE" />
    <result column="lifeTime" property="lifeTime" jdbcType="DOUBLE" />
    <result column="numberOrCapacity1" property="numberOrCapacity1" jdbcType="INTEGER" />
    <result column="numberOrCapacity2" property="numberOrCapacity2" jdbcType="INTEGER" />
    <result column="numberOrCapacity3" property="numberOrCapacity3" jdbcType="INTEGER" />
    <result column="numberOrCapacity4" property="numberOrCapacity4" jdbcType="INTEGER" />
    <result column="capitalCurve1" property="capitalCurve1" jdbcType="DOUBLE" />
    <result column="capitalCurve2" property="capitalCurve2" jdbcType="DOUBLE" />
    <result column="capitalCurve3" property="capitalCurve3" jdbcType="DOUBLE" />
    <result column="capitalCurve4" property="capitalCurve4" jdbcType="DOUBLE" />
    <result column="replacementCost1" property="replacementCost1" jdbcType="DOUBLE" />
    <result column="replacementCost2" property="replacementCost2" jdbcType="DOUBLE" />
    <result column="replacementCost3" property="replacementCost3" jdbcType="DOUBLE" />
    <result column="replacementCost4" property="replacementCost4" jdbcType="DOUBLE" />
    <result column="maintainCost1" property="maintainCost1" jdbcType="DOUBLE" />
    <result column="maintainCost2" property="maintainCost2" jdbcType="DOUBLE" />
    <result column="maintainCost3" property="maintainCost3" jdbcType="DOUBLE" />
    <result column="maintainCost4" property="maintainCost4" jdbcType="DOUBLE" />
    <result column="fInternalGasPower" property="fInternalGasPower" jdbcType="VARCHAR" />
    <result column="internalgasConsumption" property="internalgasConsumption" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, ratedCapacity, minimumLoadRate, water, smoke, lifeTime, numberOrCapacity1, 
    numberOrCapacity2, numberOrCapacity3, numberOrCapacity4, capitalCurve1, capitalCurve2, 
    capitalCurve3, capitalCurve4, replacementCost1, replacementCost2, replacementCost3, 
    replacementCost4, maintainCost1, maintainCost2, maintainCost3, maintainCost4, fInternalGasPower, 
    internalgasConsumption, owner
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from internal_gas_turbine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from internal_gas_turbine
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="selectByOwner" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from internal_gas_turbine
    where owner = #{username,jdbcType=VARCHAR}
    LIMIT #{pi},#{ps}
  </select>

  <select id="selectByOwner1" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from internal_gas_turbine
    where owner = #{username,jdbcType=VARCHAR}
    AND name REGEXP #{val}
    LIMIT #{pi},#{ps}
  </select>

  <select id="countB" resultType="Integer">
    select count(*) from internal_gas_turbine
  </select>

  <select id="countB1" resultType="Integer" parameterType="map">
    select count(*) from internal_gas_turbine
    where name REGEXP #{val}
  </select>


  <insert id="insert" parameterType="edu.tju.scs.TinyNetBackend.model.po.Internal_gas_turbine" >
    insert into internal_gas_turbine (id, name, ratedCapacity, 
      minimumLoadRate, water, smoke, 
      lifeTime, numberOrCapacity1, numberOrCapacity2, 
      numberOrCapacity3, numberOrCapacity4, capitalCurve1, 
      capitalCurve2, capitalCurve3, capitalCurve4, 
      replacementCost1, replacementCost2, replacementCost3, 
      replacementCost4, maintainCost1, maintainCost2, 
      maintainCost3, maintainCost4, fInternalGasPower, 
      internalgasConsumption, owner)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{ratedCapacity,jdbcType=DOUBLE}, 
      #{minimumLoadRate,jdbcType=DOUBLE}, #{water,jdbcType=DOUBLE}, #{smoke,jdbcType=DOUBLE}, 
      #{lifeTime,jdbcType=DOUBLE}, #{numberOrCapacity1,jdbcType=INTEGER}, #{numberOrCapacity2,jdbcType=INTEGER}, 
      #{numberOrCapacity3,jdbcType=INTEGER}, #{numberOrCapacity4,jdbcType=INTEGER}, #{capitalCurve1,jdbcType=DOUBLE}, 
      #{capitalCurve2,jdbcType=DOUBLE}, #{capitalCurve3,jdbcType=DOUBLE}, #{capitalCurve4,jdbcType=DOUBLE}, 
      #{replacementCost1,jdbcType=DOUBLE}, #{replacementCost2,jdbcType=DOUBLE}, #{replacementCost3,jdbcType=DOUBLE}, 
      #{replacementCost4,jdbcType=DOUBLE}, #{maintainCost1,jdbcType=DOUBLE}, #{maintainCost2,jdbcType=DOUBLE}, 
      #{maintainCost3,jdbcType=DOUBLE}, #{maintainCost4,jdbcType=DOUBLE}, #{fInternalGasPower,jdbcType=VARCHAR}, 
      #{internalgasConsumption,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.tju.scs.TinyNetBackend.model.po.Internal_gas_turbine" >
    insert into internal_gas_turbine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="ratedCapacity != null" >
        ratedCapacity,
      </if>
      <if test="minimumLoadRate != null" >
        minimumLoadRate,
      </if>
      <if test="water != null" >
        water,
      </if>
      <if test="smoke != null" >
        smoke,
      </if>
      <if test="lifeTime != null" >
        lifeTime,
      </if>
      <if test="numberOrCapacity1 != null" >
        numberOrCapacity1,
      </if>
      <if test="numberOrCapacity2 != null" >
        numberOrCapacity2,
      </if>
      <if test="numberOrCapacity3 != null" >
        numberOrCapacity3,
      </if>
      <if test="numberOrCapacity4 != null" >
        numberOrCapacity4,
      </if>
      <if test="capitalCurve1 != null" >
        capitalCurve1,
      </if>
      <if test="capitalCurve2 != null" >
        capitalCurve2,
      </if>
      <if test="capitalCurve3 != null" >
        capitalCurve3,
      </if>
      <if test="capitalCurve4 != null" >
        capitalCurve4,
      </if>
      <if test="replacementCost1 != null" >
        replacementCost1,
      </if>
      <if test="replacementCost2 != null" >
        replacementCost2,
      </if>
      <if test="replacementCost3 != null" >
        replacementCost3,
      </if>
      <if test="replacementCost4 != null" >
        replacementCost4,
      </if>
      <if test="maintainCost1 != null" >
        maintainCost1,
      </if>
      <if test="maintainCost2 != null" >
        maintainCost2,
      </if>
      <if test="maintainCost3 != null" >
        maintainCost3,
      </if>
      <if test="maintainCost4 != null" >
        maintainCost4,
      </if>
      <if test="fInternalGasPower != null" >
        fInternalGasPower,
      </if>
      <if test="internalgasConsumption != null" >
        internalgasConsumption,
      </if>
      <if test="owner != null" >
        owner,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ratedCapacity != null" >
        #{ratedCapacity,jdbcType=DOUBLE},
      </if>
      <if test="minimumLoadRate != null" >
        #{minimumLoadRate,jdbcType=DOUBLE},
      </if>
      <if test="water != null" >
        #{water,jdbcType=DOUBLE},
      </if>
      <if test="smoke != null" >
        #{smoke,jdbcType=DOUBLE},
      </if>
      <if test="lifeTime != null" >
        #{lifeTime,jdbcType=DOUBLE},
      </if>
      <if test="numberOrCapacity1 != null" >
        #{numberOrCapacity1,jdbcType=INTEGER},
      </if>
      <if test="numberOrCapacity2 != null" >
        #{numberOrCapacity2,jdbcType=INTEGER},
      </if>
      <if test="numberOrCapacity3 != null" >
        #{numberOrCapacity3,jdbcType=INTEGER},
      </if>
      <if test="numberOrCapacity4 != null" >
        #{numberOrCapacity4,jdbcType=INTEGER},
      </if>
      <if test="capitalCurve1 != null" >
        #{capitalCurve1,jdbcType=DOUBLE},
      </if>
      <if test="capitalCurve2 != null" >
        #{capitalCurve2,jdbcType=DOUBLE},
      </if>
      <if test="capitalCurve3 != null" >
        #{capitalCurve3,jdbcType=DOUBLE},
      </if>
      <if test="capitalCurve4 != null" >
        #{capitalCurve4,jdbcType=DOUBLE},
      </if>
      <if test="replacementCost1 != null" >
        #{replacementCost1,jdbcType=DOUBLE},
      </if>
      <if test="replacementCost2 != null" >
        #{replacementCost2,jdbcType=DOUBLE},
      </if>
      <if test="replacementCost3 != null" >
        #{replacementCost3,jdbcType=DOUBLE},
      </if>
      <if test="replacementCost4 != null" >
        #{replacementCost4,jdbcType=DOUBLE},
      </if>
      <if test="maintainCost1 != null" >
        #{maintainCost1,jdbcType=DOUBLE},
      </if>
      <if test="maintainCost2 != null" >
        #{maintainCost2,jdbcType=DOUBLE},
      </if>
      <if test="maintainCost3 != null" >
        #{maintainCost3,jdbcType=DOUBLE},
      </if>
      <if test="maintainCost4 != null" >
        #{maintainCost4,jdbcType=DOUBLE},
      </if>
      <if test="fInternalGasPower != null" >
        #{fInternalGasPower,jdbcType=VARCHAR},
      </if>
      <if test="internalgasConsumption != null" >
        #{internalgasConsumption,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.tju.scs.TinyNetBackend.model.po.Internal_gas_turbine" >
    update internal_gas_turbine
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ratedCapacity != null" >
        ratedCapacity = #{ratedCapacity,jdbcType=DOUBLE},
      </if>
      <if test="minimumLoadRate != null" >
        minimumLoadRate = #{minimumLoadRate,jdbcType=DOUBLE},
      </if>
      <if test="water != null" >
        water = #{water,jdbcType=DOUBLE},
      </if>
      <if test="smoke != null" >
        smoke = #{smoke,jdbcType=DOUBLE},
      </if>
      <if test="lifeTime != null" >
        lifeTime = #{lifeTime,jdbcType=DOUBLE},
      </if>
      <if test="numberOrCapacity1 != null" >
        numberOrCapacity1 = #{numberOrCapacity1,jdbcType=INTEGER},
      </if>
      <if test="numberOrCapacity2 != null" >
        numberOrCapacity2 = #{numberOrCapacity2,jdbcType=INTEGER},
      </if>
      <if test="numberOrCapacity3 != null" >
        numberOrCapacity3 = #{numberOrCapacity3,jdbcType=INTEGER},
      </if>
      <if test="numberOrCapacity4 != null" >
        numberOrCapacity4 = #{numberOrCapacity4,jdbcType=INTEGER},
      </if>
      <if test="capitalCurve1 != null" >
        capitalCurve1 = #{capitalCurve1,jdbcType=DOUBLE},
      </if>
      <if test="capitalCurve2 != null" >
        capitalCurve2 = #{capitalCurve2,jdbcType=DOUBLE},
      </if>
      <if test="capitalCurve3 != null" >
        capitalCurve3 = #{capitalCurve3,jdbcType=DOUBLE},
      </if>
      <if test="capitalCurve4 != null" >
        capitalCurve4 = #{capitalCurve4,jdbcType=DOUBLE},
      </if>
      <if test="replacementCost1 != null" >
        replacementCost1 = #{replacementCost1,jdbcType=DOUBLE},
      </if>
      <if test="replacementCost2 != null" >
        replacementCost2 = #{replacementCost2,jdbcType=DOUBLE},
      </if>
      <if test="replacementCost3 != null" >
        replacementCost3 = #{replacementCost3,jdbcType=DOUBLE},
      </if>
      <if test="replacementCost4 != null" >
        replacementCost4 = #{replacementCost4,jdbcType=DOUBLE},
      </if>
      <if test="maintainCost1 != null" >
        maintainCost1 = #{maintainCost1,jdbcType=DOUBLE},
      </if>
      <if test="maintainCost2 != null" >
        maintainCost2 = #{maintainCost2,jdbcType=DOUBLE},
      </if>
      <if test="maintainCost3 != null" >
        maintainCost3 = #{maintainCost3,jdbcType=DOUBLE},
      </if>
      <if test="maintainCost4 != null" >
        maintainCost4 = #{maintainCost4,jdbcType=DOUBLE},
      </if>
      <if test="fInternalGasPower != null" >
        fInternalGasPower = #{fInternalGasPower,jdbcType=VARCHAR},
      </if>
      <if test="internalgasConsumption != null" >
        internalgasConsumption = #{internalgasConsumption,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.tju.scs.TinyNetBackend.model.po.Internal_gas_turbine" >
    update internal_gas_turbine
    set name = #{name,jdbcType=VARCHAR},
      ratedCapacity = #{ratedCapacity,jdbcType=DOUBLE},
      minimumLoadRate = #{minimumLoadRate,jdbcType=DOUBLE},
      water = #{water,jdbcType=DOUBLE},
      smoke = #{smoke,jdbcType=DOUBLE},
      lifeTime = #{lifeTime,jdbcType=DOUBLE},
      numberOrCapacity1 = #{numberOrCapacity1,jdbcType=INTEGER},
      numberOrCapacity2 = #{numberOrCapacity2,jdbcType=INTEGER},
      numberOrCapacity3 = #{numberOrCapacity3,jdbcType=INTEGER},
      numberOrCapacity4 = #{numberOrCapacity4,jdbcType=INTEGER},
      capitalCurve1 = #{capitalCurve1,jdbcType=DOUBLE},
      capitalCurve2 = #{capitalCurve2,jdbcType=DOUBLE},
      capitalCurve3 = #{capitalCurve3,jdbcType=DOUBLE},
      capitalCurve4 = #{capitalCurve4,jdbcType=DOUBLE},
      replacementCost1 = #{replacementCost1,jdbcType=DOUBLE},
      replacementCost2 = #{replacementCost2,jdbcType=DOUBLE},
      replacementCost3 = #{replacementCost3,jdbcType=DOUBLE},
      replacementCost4 = #{replacementCost4,jdbcType=DOUBLE},
      maintainCost1 = #{maintainCost1,jdbcType=DOUBLE},
      maintainCost2 = #{maintainCost2,jdbcType=DOUBLE},
      maintainCost3 = #{maintainCost3,jdbcType=DOUBLE},
      maintainCost4 = #{maintainCost4,jdbcType=DOUBLE},
      fInternalGasPower = #{fInternalGasPower,jdbcType=VARCHAR},
      internalgasConsumption = #{internalgasConsumption,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
